<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
  <title>Foodgasm</title>
</head>
<body>
  <a href="#maincontent" class="skip-link">Skip to content</a>
  <header class="header">
    <div class="header__inner">
      <h1 href="/" class="header__title">
        Foodgasm.id
      </h1>
    </div>
    <button tabindex="0" id="menu" class="header__menu">☰</button>
  </header>

  <nav id="drawer" class="nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="/">Home</a></li>
      <li class="nav__item"><a href="#">Favorite</a></li>
      <li class="nav__item"><a href="https://github.com/GusdeBiyan">About us</a></li>
    </ul>
  </nav>
   <div class="hero">
    <div class="hero__inner">
      <h1 class="hero__title">Explore restaurants with us</h1>
      <p class="hero__tagline">We provide various kinds of restaurant references, from traditional to modern, and your satisfaction is our right.</p>
    </div>
  </div>
  <main id="maincontent">
    <div class="content">
      <h2 tabindex="0" class="label-menu">List Restaurant</h2>
      <p tabindex="-1" class="label-menu">find your favorite restaurant</p>
      <div class="posts" id="restoran-list">
      </div>
    </div>
  </main>

  <footer>
    Copyright © 2023 - Foodgasm.id
  </footer>
 
</body>
</html>
